@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

/* Reset styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Media queries */

/* @media (max-width: 700px) {
  .formContainer {
    margin-top: 20px !important;
    flex-direction: column !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
  }
  .weatherView {
    margin-top: -214px !important;
    width: 330px !important;
    height: 42vh !important;
    margin-left: 0 !important;
  }
  .weatherInfo {
    width: 260px !important;
    height: 12vh !important;
    margin-top: 234px !important;
    margin-left: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
  }
  .formInfo {
    margin-top: 368px !important;
    height: 36vh !important;
    width: 310px !important;
    margin-left: -7px !important;
    padding: 0 !important;
  }
  form {
    margin-top: 95px !important;
  }
  .inputContainer {
    width: 80% !important;
    height: 40px !important;
  }
  .loading {
    margin-left: -10px !important;
    margin-top: -150px !important;
    margin-bottom: 0 !important;
  }

  .loadingForm {
    margin-left: -10px !important;
    margin-top: -150px !important;
  }
}

.loading {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: -400px;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 10px solid #e74c3c;
  position: absolute;
  animation: a1 2s linear infinite;
}
.loadingForm {
  margin-left: 200px;
  margin-top: -180px;
}
.loading::before,
.loading::after {
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: -10px;
  box-sizing: border-box;
  border-radius: 50%;
}

.loading::before {
  border-top: 10px solid #e67e22;
  transform: rotate(120deg);
}
.loading::after {
  border-top: 10px solid #3498db;
  transform: rotate(240deg);
}

.loading span {
  position: absolute;
  width: 200px;
  height: 200px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 200px;
  animation: a2 2s linear infinite;
}

@keyframes a1 {
  to {
    transform: rotate(360deg);
  }
}

@keyframes a2 {
  to {
    transform: rotate(-360deg);
  }
} */
